*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma , Arial;
}
.container h1{
    background-color: #0075ff;
    color: #FFF;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    position: relative;
}
.container h1 span{
    font-family: cursive;
    color: #e73858;
}
.container h1 .Reset{
    font-size: 23px;
    position: absolute;
    right: 49px;
    top: 23px;
    background-color: #e73858;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.container .quiz-info{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 20px;
}
.container .quiz-info .category{
    margin-right: 20px;
}
.container .quiz-info span{
    color: #e73858;
    font-weight: bold;
}
.container .quiz-area{
    background-color: #d0cfcf;
    width: 80%;
    border-radius: 20px;
    margin: auto;
}
.container .quiz-area h2{
    padding: 30px;
    text-align: center;
}
.container .answers-area{
    width: 60%;
    background-color: #e2e2e2;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}
.container .answers-area .answer{
    padding: 30px;
}
.container .answers-area .answer:not(:last-child){
    border-bottom: 2px solid white;
}

.container .answers-area .answer input[type = "Radio"]:checked + label{
    color: #0075ff;
}

.container .answers-area .answer label{
    margin-left: 5px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    top: -1px;
    font-size: 14px;
}
.container .btn{
    width: 60%;
    margin: 48px auto;
}
.container .btn button{
    width: 100%;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #e73858;
    color: #FFF;
    font-size: 20px;
}
.container .bullets{
    border: 4px solid #0075ff;
    display: flex;
    background-color: #FFF;
    padding: 20px;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    flex-wrap: wrap;
}
.container .bullets .spans{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.container .bullets .spans span{
    width: 28px;
    height: 28px;
    background-color: #d0cfcf;
    border-radius: 50%;
    margin: 5px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background-color: #e73858;
    color: white;
    line-height: 27px;
    transition: 0.5s;
}
.container .bullets .spans span.on{
    background-color: #0075ff;
    color: white;
}
.container .results{
    margin: auto;
    width: 60%;
    padding: 30px;
    text-align: center;
}
.container .results span.perfect{
    color: #0075ff;
    font-weight: bold;
}
.container .results span.good{
    color: #009688;
    font-weight: bold;
}
.container .results span.bad{
    color: #e73858;
    font-weight: bold;
}